$grey-dark: #3d3e42;
$white: #f4f4f4;
$red: #ff4445;
body {
	background: #c3c3c3;

	.panel-white{
		height: 430px;
		min-height: 430px;
		background: $white;
	}

	.panel-dark{
		height: 368px;
		min-height: 368px;
		background: $grey-dark;
	}

	.panel-red{
		height: 409px;
		min-height: 409px;
		background: $red;
	}
}