@import 'common';

.base-border-panel{
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
}

body {
	background: #F0EEEE;
	.panel-white{

		height: 430px;
		min-height: 430px;
		background: $white;
		@extend .base-border-panel;
		.title {
			font-size: 7em;
			padding: 45px;
		}

		.box{
			margin-top: 30%;
			.resumen{
				position: relative;
				.picture{
					position: absolute;
					z-index: 1;
					top: -100px;
					left: 15px;
					-ms-transform: rotate(-7deg); /* IE 9 */
					-webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
					transform: rotate(-7deg);
					-ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-7); /* for IE8 */
				}
				width: 485px;
				padding: 45px;

				h3, p{
					z-index: 2;
					position: relative;
				}
			}
		}
	}

	.panel-dark{
		height: 368px;
		min-height: 368px;
		background: $grey-dark;
		@extend .base-border-panel;
		.img-computer{
			position: absolute;
			left: 30px;
			top: -124px;
		}
		h3{
			margin-top: 0px;
		}
		.title{
			font-size: 2.7em;
		}

		p{
			margin-bottom: 5px;
		}

		#carousel-example{
			margin-top: 50px;
			.carousel-inner{
				margin: 0 auto;
				width: 470px;
				.thumbnails{
					li{
						padding-right: 0px;
						padding-left: 0px;
						a{
							position: relative;
							&:hover{
								.selection{
									border: 4px solid #2fc5f7;
									position: absolute;
									width: 100%;
									height: 100%;
									top: 0px;
									border-radius: 5px;
								}
							}
						}
					}
					li:first-child{
						padding-left: 5px;
					}
				}
			}
			.carousel-control{
				background: transparent;
				&:hover{
					color: $heavenly-light;
				}
			}
			.carousel-control.left{
				left: -25px;
				top: -15px;
			}
			.carousel-control.right{
				right: 5px;
				top: -15px;
			}
		}
	}

	.panel-red{
		height: 409px;
		min-height: 409px;
		background: $red;
		@extend .base-border-panel;
	}
}